<%- include('partials/head'); %>  
    <%- include('partials/header'); %>
    <div>
        <h1>Je bent offline</h1>
        <p>Sorry, deze pagina is momenteel niet beschikbaar omdat je geen internetverbinding hebt.</p>
    </div>
<%- include('partials/footer'); %>