<header>
    <h1><a href="/" id="home-link">Rijksmuseum Data</a></h1>
    <form method="GET" action="/search">
        <input type="search" name="query" id="search-input" placeholder="Zoek een schilderij...">
        <input type="submit" value="" hidden>
    </form>
</header>