    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(function(registration) {
                    return registration.update();
                    })
                });
        }
    </script>
    <script src="/js/index.js"></script>
</body>
</html>

<!--De eerste script tag in dit bestand controleert of de browser Service Worker functionaliteit ondersteunt. Als dat het geval is, wordt er een event listener toegevoegd aan het 'load'-evenement van het venster. Wanneer de webpagina is geladen wordt er een Service Worker geregistreerd, aan de hand van het 'service-worker.js' bestand.-->